@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

body {
  margin: 0;
  font-family: "Comfortaa";
}

.main {
  background-color: #e3f7f8;
}

.button {
  background-color: #2b96ed;
  color: white;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 7px;
  margin: 10px;
  transition-duration: 300ms;
  font-family: "Comfortaa";
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
  transform: scale(0.9);
}
