.card {
  font-family: "Comfortaa";
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  margin: 20px;
  animation: mount 2s;
  transition: 300ms ease-in;
  cursor: pointer;
}

.front,
.back {
  font-family: "Comfortaa", cursive;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 5px rgb(75, 84, 90);
  overflow: hidden;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  flex-direction: column;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.front {
  transform: rotateX(0deg);
}

.back {
  position: absolute;
  transform: rotateY(180deg);
}

.card:hover {
  transform: scale(1.1);
}

@keyframes mount {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
